@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lobster&display=swap');
@import url('fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('fonts.googleapis.com/css2?family=Billabong&display=swap');
*{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .root{
  background-color: #efefef;
  var:
} */
.lobster-regular {
  font-family: "Lobster",cursive, sans-serif;
  font-weight: 900;
  font-style: normal;
  color:black;
}
.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight:bold;
  font-style:normal;
  /* color:red; */
}
.pacifico{
  font-family: 'Pacifico', cursive;
  font-weight:bold;
  font-style:normal;
  color:blueviolet;
}
.Billabong{
  font-family: 'Billabong', cursive;
  font-weight:bold;
  font-style:normal;
  color:blue;
}
 .menu:hover{
  
  background-color: #efefef;
  border-radius: 0.5rem;
 }
 .sidebar{
 /* position: relative;
 z-index: 1; */
  
 }
@media (max-width:767px) {
  .sidebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: white;
    bottom: 0;
    left: 0;
    right:0;
    width: 100%;
    border-top: 1px solid #dbdbdb;
    z-index: 50;
  }
    .showLogo{
      display:none;
    }
    .hidelogout{
      display: block;
    }
    .shownavbar{
      display: block;
      display: flex;
     /* flex-direction: column; */
    }
    .outlet{
      margin-top: 3.5rem;
    }
    .logoutProfilehide{
      display:none;
    }
  
  
  
  .hideMenu{
    display: none;
    }
    .post{
      width: 99%;
      justify-content: center;
      
    }
    
}
@media (min-width:768px) {
  .shownavbar{
    display: none;
    background-color: white;
  }}
.sidebarWidth{
 
  border-right:1px solid #dbdbdb;
}

@media (min-width: 768px) and (max-width:1280px) {
  .hideMenu{
  display: none;
  }
  .sidebarWidth{
    width: 72px;
    
  }
  .marginleft{
    margin-left: 10rem;
  }

  
}
@media (min-width: 768px)and (max-width:940px) {
  .post{
    width: 49%;
    justify-content: center;
  }

}
@media (min-width: 940px) {
  .post{
    width: 49%;
    justify-content: center;
  }

}
@media (min-width:1280px) {
  
  .sidebarWidth{
    width: 244px;
   
  }
  .showInstagramLogo{
   display:block;
  }
  .showLogo{
    display:none;
  }
  .post{
    width: 33%;
    
  }
  .marginleft{
    margin-left: 18rem;
  }
  
}
@media (max-width:1280px){
  .showInstagramLogo{
    display:none;
   }
   .showLogo{
     display: block;
   }
   
   
}
#myTextarea {
  /* padding: 1rem 0; */
  width: 100%; 
  /* Width of the textarea */
  height: 5rem; /* Height of the textarea */
  resize: none; /* Disable resizing */
  background-color: transparent;
  outline: none;
}
.inputfile{
  display: none;
}
.profileimag{
 
    width: 100px;
    height: 100px;
    background-color: white;
    color: white;
    border-radius: 5rem;
    cursor: pointer;
    border: 1px solid black;
 

}
.profile{
  color:  #efefef;
  font-size:12rem ;

}
.minheigth{
  min-height: 60%;
}